<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <h2>Course Information</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Amount</th>
                    <th scope="col">Course Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for core in course %}
                <tr>
                    <th scope="row">{{core.id}}</th>
                    <td>{{core.course_name}}</td>
                    <td>{{core.course_cost}}</td>
                    <td>{{core.course_duration}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>